**/Build/
.vscode/
.env
.fake
docker-compose-production.yml
.history
node_modules/
.DS_Store
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
package-lock.json   

*.log
*.pid
*.seed
*.pid.lock
*.swp
.env.*
.env.local
.env.development
.env.test
.env.production
coverage/
dist/
build/
tmp/
temp/
logs/