.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #D8959A !important;
}

.ant-tabs-tab:hover {
    color: #D8959A !important;
}

.ant-tabs-ink-bar {
    background-color: #D8959A !important;
}

.address-list-container {
    max-height: 300px;
    /* Adjust this value as needed */
    overflow-y: auto;
}

.custom-delete-button:hover,
.custom-delete-button:active {
    color: red !important;
}