Target the entire modal wrapper to set the background
.ant-modal {
    background-color: #F6EEF0 !important;
}

.ant-modal-content {
    background-color: #F6EEF0 !important;
    border-radius: 10px;
}


.ant-modal-header {
    background-color: #F6EEF0 !important;
    border-bottom: none !important;
    padding: 10px 24px !important;
}

/* Target the modal body */
.ant-modal-body {
    background-color: #F6EEF0 !important;
    padding: 10px !important;

}

/* Ensure the close icon container matches the background */
.ant-modal-close {
    background-color: #F6EEF0 !important;
}

.ant-modal-close-x {
    color: #5A2D2F !important;
    background-color: #F6EEF0 !important;
    border-radius: 50%;
    padding: 5px;
}

/* Ensure form inputs and select maintain the background */
.ant-select-selector {
    background-color: #F6EEF0 !important;
    border: 1px solid #C87E83 !important;
    border-radius: 4px !important;
    /* Slight rounding for consistency */
}

.ant-select-dropdown {
    background-color: #F6EEF0 !important;
}